<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>UiTM Jasin Library System</title>
        <link rel="icon" type="image/x-icon" href="img/book.png" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="createAccForm.css" rel="stylesheet" />
    </head>
    <body>
        <header>
             <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav1">
            <img class="logo1" src="img/uitm-logo.png">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item1 px-lg-4"><a class="nav-link1 text-uppercase" th:href="@{/index}">Home</a></li>
                    <li class="nav-item1 px-lg-4"><a class="nav-link1 text-uppercase" href="#">Book Cart</a></li>
                </ul>
            </div>
    </nav>
<!--end nav-->
        </header>
        <section class="page-section about-heading">
            <div class="container1">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <fieldset id="adCreate"><br>
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-lower">CREATE ACCOUNT FORM</span>
                                    </h2>
                                    <fieldset id="Create"><br>
                                        <label class="name">Name :</label><br>
                                        <input type="text" name="student" required><br><br>
                            
                                        <label class="studentId">Student ID :</label><br>
                                        <input type="text" name="id" required><br><br>
                            
                                        <label class="phone">Phone Number : </label><br>
                                        <input type="text" class="phone" required><br><br>
                            
                                        <label class="email">Email : </label><br>
                                        <input type="email" class="email" required><br><br>
                                    </fieldset>
                                    <br><button type="submit" class="btn" onclick="create()">Create</button>
                                </fieldset>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
