<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin Library System</title>
    <link rel="icon" type="image/x-icon" href="img/book.png">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
    <header>
        <img class="logo" src="img/uitm-logo.png">
        <h1 class="welcome">
            Welcome to UiTM Jasin Library
        </h1>
    </header>

    <nav class="nav">
        <a class="link" id="create" th:href="@{/create}">Create Account</a>
        <a class="link" href="#">Book Cart</a>
    </nav>

    <div class="container">
        <img class="kjm" src="img/kjm.png">

        <div class="intro">
            <h2 class="library">
                UiTM JASIN LIBRARY
            </h2>

            <p class="objective">Objectives</p>
            <p class="mb-3">To enhance the knowledge and expertise of Bumiputeras in all fields of study through professional programmes, research work and community service based on moral values and professional ethics.</p>
                <ul class="objective-list">
                    <li class="obj">To empower the delivery of UiTM's library services as a center of information excellence that always remained relevant, referred and respected.</li>
                    <li class="obj">To serve a comprehensive, up to date and relevance knowledge resources in various physically and virtually format.</li>
                    <li class="obj">To provide a conducive environment and facilities for teaching, learning and research matters.</li>
                    <li class="obj">To develop a latest information technology and communication facilities based on customer needs.</li>
                    <li class="obj">To strengthen human capital through Budaya PERDANA for PUiTM communities.</li>
                    <li class="obj">To enrich relation and cooperation with external organisation in industrial network.</li>
                </ul>
        </div>
    </div>
    
</body>
</html>